$color: red;

%message1 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.list-class{
    ul{
        li{
            @extend %message1;
            color: $color;

        }
    }
}